* {
 
 padding: 0px;
 margin: 0px;



  }


.header {

   background: #1F2937 ;
  height: 50px;
  display: flex;
  align-items: center;
justify-content: center;
}
.header div {
   padding: 5px #1F2937;
   margin: 5px #1F2937;
   color: white;
   background: #1F2937;
  
   flex: 1 1
     0%;
 }

 .logo {
  

   dftext-align: center;
   font: 24px;
   color:#F9FAF8 ;
 }
 .logo div {
  
   text-align: center;
   
 }

.links{
   display: flex;
   color: #F9FAF8;

}
.links div {
   font: 18px;

   flex: 1 1 0%;

}


.one {
background: #1F2937;
display: flex;
align-items: center;
justify-content: center;
height:300px;
gffwidth: 800px;


padding-left: 320px;
padding-right: 320px;
padding-bottom: 150px;
padding-top: 100px;

}
.one div {
    background: gray;
    border: 0px solid gray;
    fgfgpadding:90px;
    margin: 0px;
    height: 300px;
    fdfdwidth: 60px;
    flex: 1 1
     0%;
  }
  
  /* only div.two is selected here */
  .one .caja1 {
     color: #F9FAF8;
     font: bold; 
     

   font: 48px bold white ;

    padding: 20px;
    margin: 30px;
       flex: 1 1 0%;
  }

  .one .caja1 .sign0 {



      background: #3882f6;
      flex: 1;
      color: white;
      height: 30px;
      padding: 2px;
      border:2px ;
      font-size:15px;

  }
  .one .caja2 {
      color: white;

    padding: 20px;
    margin: 30px;
      flex: 1 1 0%;
  }




 .two {


background: white;
display: flex;
align-items: center;
justify-content: center;
padding:16px;
border: 80px solid white;
gap: 8px;

padding-left: 320px;
padding-right: 320px;
padding-bottom: 150px;
padding-top: 100px;
    
 }


.item  {
  margin: 20px;
   border: 5px solid gray;
   background: rgb(173, 189, 173);
flex: 1;
   height: 230px;
     
 }
 


.three {

background: #E5E7EB;
display: flex;
align-items: center;
justify-content: center;
margin: 60px #E5E7EB;
padding: 80px ;
font-size:40px #1F2937;


 }

 .quote {

font-size:40px #1F2937;
  
 

 }

 .four {

    background:white;
display: flex;
align-items: center;
justify-content: center;
height:200px ;
padding:30px  white;
border: 50px white;
font:20px ;

   
 }

 .sign {

   background: #3882f6;
   display: flex;
   align-items: center;
   color: white;
   height: 60px;
   width: 500px;
   padding: 20px;
   border:10px ;
   font-size:20px ;

   
 }


 .sign3{
   background: #3882f6;
   display: flex;
   align-items: center;
   justify-content: right;
 flex: 1 1 0%;
     
      color: white;
      height: 30px;
      width:60px ;
      padding: 25px white;
      border:20px white;
      font-size:15px ;


 }



 .five {

    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
font: 20px white;
color:white ;
height: 150px;

 }
